:root{
    --primary-color: #9294A8;
}
a{
    text-decoration: none;
}
body{
    background: black;
    color: var(--primary-color);
    font-family: 'Merriweather', serif;
    text-align: center;
}
h1{
    font-family: 'Merriweather', serif;
font-family: 'Saira Stencil One', cursive;
}
h4{
    text-align: center;
    font-weight: bold;
}
h6{
    margin-top: 20px;
}
@media (max-width:500px) {
   .service-icons{
    max-width: 100px;
   }
}
p{
    font-weight: bold;
    padding: 10px;
}
.logo{
    max-width: 50px;
}
.main-name{
    font-family: 'Merriweather', serif;
    font-family: 'Saira Stencil One', cursive;
    text-align: center;
    text-shadow: -2px 0px 7px rgba(181, 179, 183, 1);
}
.service-icons{
    padding: 20px;
}

.cv-link{
    color:var(--primary-color);
    background-color:#212529;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 20px;
    text-decoration: none;
}
.cv-link:hover{
    color: #6D7172;
    background: var(--primary-color);
    text-decoration: underline;
}
.icon-links{
    max-width: 20px;
}
.email-link{
    color: var(--primary-color);
}
.email-link:hover{
    color: var(--primary-color);
    text-decoration: underline;
}
